/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'Roboto-regular', 'Ariel', 'sans-serrif';
  background: darkgray;
  header {
    max-width: 1390px;
    // height: 100vh;
    padding-top: 35px;
    padding-right: 135px;
    padding-left: 135px;
    background: #f6f6f6;
    margin-right: auto;
    margin-left: auto;
    .header-top {
      height: 116px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

    }
  }
}
@media (min-width: 1200px) {
  header {
    max-width: 900px;
    padding-right: 100px;
    padding-left: 100px;
  }
}
.main-menu {
  font-size: 16px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  li {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    color: #000000;
  }
  .active {
     background: #ffea00;
  }
  li:last-child {
    padding-right: 0;
    margin-left: 140px;
  }
  li:hover {
    background: #ffea00;
  }
}
@media (min-width: 1200px) {
  .main-menu {
    width: 600px;
  }
}
#slider {
  border-top: 1px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
  height: 20px;
}
.content {
  background: blue;
  max-width: 1660px;
  margin-right: auto;
  margin-left: auto;
}
#container {
  padding-left: 20px;
}
